@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        font-weight: 100 200 300 400 500 600 700 800 900;
        src: url(../../public/fonts/Inter.ttf) format("truetype");
    }
    @font-face {
        font-family: "Logo";
        src: url(../../public/fonts/logo-font1.ttf) format("truetype");
    }
    #nprogress .bar {
        @apply z-[2000] !h-1 !rounded-full !bg-primary;
    }
    #nprogress .bar {
        box-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6 !important;
    }
    #nprogress .peg {
        @apply !hidden !w-full !rotate-0 rounded-full !bg-primary;
    }

    #nprogress .spinner {
        @apply z-[2000];
    }
    #nprogress .spinner .spinner-icon {
        @apply !h-6 !w-6 !border-4 !border-l-primary border-t-primary;
    }
    html {
        font-size: 14px;
    }
    body {
        @apply h-full bg-gray-950 font-inter text-white subpixel-antialiased;
    }
    body {
        /* @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700/60 to-gray-800/10; */
        /* @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700/50 to-gray-800/10; */
        /* @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-500/30 to-gray-800/30; */
        @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-500/20 to-gray-950/90;
    }
}

@layer components {
    .text-logo {
        @apply px-2 text-6xl text-white underline font-logo drop-shadow-xl underline-offset-2 decoration-primary;
    }
    .text-sub {
        @apply text-xs text-muted;
    }
    .text-link {
        @apply text-white underline underline-offset-2 decoration-primary;
    }
    .text-link[target="_blank"] {
        @apply after:content-['_↗'] whitespace-nowrap;
    }

    .card-container {
        @apply flex flex-col space-y-10;
    }
    .card-spacing {
        @apply p-5 flex flex-col space-y-10;
    }
    .card {
        @apply flex flex-col space-y-10 text-muted-lighter bg-gray-950 p-5 drop-shadow-lg border-y tablet:border border-gray-700/40 tablet:rounded-xl;
    }
    .card {
        /* @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700/60 to-gray-800/20; */
        /* @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-600/30 to-gray-800/10; */
        /* @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-600/30 to-gray-800/10; */
        @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-500/40 to-gray-800/50;
    }
    .card-title {
        @apply text-2xl font-medium text-white;
    }
    .card-desc {
        @apply text-sm text-muted tablet:text-base;
    }

    .button-container {
        @apply flex space-x-5 my-5 mx-5 tablet:mx-0 tablet:flex-row tablet:justify-end;
    }
    .button {
        @apply py-2 px-5 font-medium w-full tablet:w-auto rounded-lg hover:brightness-105 hover:shadow-lg hover:to-inherit;
    }
    .button-primary {
        /* @apply bg-primary text-white hover:brightness-110 hover:shadow-lg border border-primary-light; */
        @apply text-white bg-primary bg-gradient-to-br from-orange-800/5 to-black/50 border border-primary/70;
    }
    .button-muted {
        /* @apply text-white bg-gray-800 bg-gradient-to-br from-gray-900/50 to-gray-950/80 border border-gray-700/60; */
        @apply text-white bg-gray-800 bg-gradient-to-br from-gray-800/50 to-black/50 border border-gray-700/60;
    }
}

@layer utilities {
    .font-thin {
        font-variation-settings: "wght" 100;
    }
    .font-extralight {
        font-variation-settings: "wght" 200;
    }
    .font-light {
        font-variation-settings: "wght" 300;
    }
    .font-normal {
        font-variation-settings: "wght" 400;
    }
    .font-medium {
        font-variation-settings: "wght" 500;
    }
    .font-semibold {
        font-variation-settings: "wght" 600;
    }
    .font-bold {
        font-variation-settings: "wght" 700;
    }
    .font-extrabold {
        font-variation-settings: "wght" 800;
    }
    .font-black {
        font-variation-settings: "wght" 900;
    }
}
